<!DOCTYPE html>

<html>

  <head>

    <title>Home Page</title>


  </head>

  <body>
  <div class="homepage-background">


<div>
<nav>

  <div class = "nav-button"><a href="people">About</a></div>
  <div class = "nav-button"><a href="https://www.google.com/mail">Gmail</a></div>
  <div class = "nav-button"><a href="chat">Chat</a></div>


</nav>
<strong>
<p class="welcome"> Welcome</p>


      <h3 class="product-text">Make sure you check the chat board daily!</h3>
</div>



</div>

</body>
  </html>
