<!DOCTYPE html>

<html>
<title> About Page </title>

  <body>
    <div class="about-background">

      <div>
        <nav>
          <div class = "nav-button"><a href="homepage">Home</a></div>
          <div class = "nav-button"><a href="people">About</a></div>
          <div class = "nav-button"><a href="https://www.google.com/mail">Gmail</a></div>
          <div class = "nav-button"><a href="chat">Chat</a></div>
        </nav>

<strong>
<div class="about-text">
<p>This is my website created using HTML CSS Sinatra and CSV</p>


</div>
</strong>
    <ol>



  </body>
</html>
